<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>

<body>
    <div id="app">
        <v-app>

            <v-toolbar fixed app :clipped-left="clipped">
                <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-btn icon @click.stop="miniVariant = !miniVariant">
                    <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
                </v-btn>
                <v-btn icon @click.stop="clipped = !clipped">
                    <v-icon>web</v-icon>
                </v-btn>
                <v-btn icon @click.native.stop="fixed = !fixed">
                    <v-icon>remove</v-icon>
                </v-btn>
                <v-toolbar-title v-text="title"></v-toolbar-title>
                <v-spacer></v-spacer>

            </v-toolbar>
            <main>
                <v-content>
                    <v-container fluid>
                        <v-layout row>
                            <v-flex xs12 sm6 offset-sm3>
                                <v-card>
                                    <v-toolbar color="cyan" dark>


                                        <v-toolbar-title>TODOS</v-toolbar-title>

                                        <v-spacer></v-spacer>

                                        <v-btn icon>
                                            <v-icon>search</v-icon>
                                        </v-btn>
                                    </v-toolbar>

                                    <v-list two-line style="padding-bottom:50px;">
                                        <template v-for="(item, index) in todos">
                            <v-subheader
                              v-if="item.header"
                              :key="item.header"
                            >
                              {{ item.header }}
                            </v-subheader>
                
                            <v-divider
                              v-else-if="item.divider"
                              :inset="item.inset"
                              :key="index"
                            ></v-divider>
                
                            <v-list-tile
                              v-else
                              :key="item.title"
                              avatar
                              @click=""
                            >
                            <v-icon style="padding-right:20px">check_circle_outline</v-icon>
                
                              <v-list-tile-content>
                                <v-list-tile-title v-if="!item.edit" v-html="item.title"></v-list-tile-title>
                                <v-text-field label="Titel" v-else placeholder="Titel" v-model="item.title"  autofocus
                                required></v-text-field>
                              </v-list-tile-content>
                              <v-btn color="warning" v-if="!item.edit" v-on:click="editTodo(index, item)">Bearbeiten</v-btn>
                              <v-btn color="success" v-else v-on:click="editTodo(index, item)">Speichern</v-btn>
                              <v-btn color="error" v-on:click="deleteTodo(index, item)">Löschen</v-btn>
                            </v-list-tile>
                          </template>

                                    </v-list>
                                    <v-btn absolute dark fab bottom right color="pink" v-on:click="createTodo">
                                        <v-icon>add</v-icon>
                                    </v-btn>
                                </v-card>
                            </v-flex>

                            <ul>
                                <template v-for="(message, index) in messages">

                                <li>{{message}}</li>

                            </template>
                            </ul>

                        </v-layout>
                    </v-container>


                </v-content>
            </main>

            <v-footer :fixed="fixed" app>
                <span>&copy; 2017</span>
            </v-footer>
        </v-app>
    </div>

    <script type="text/x-template" id="page">
        <v-layout column align-center>
            <div>
                <img src="./v.png" alt="Vuetify.js" class="mb-5" height="100px" />
            </div>
            <blockquote>
                &#8220;First, solve the problem. Then, write the code.&#8221;
                <footer>
                    <small>
            <em>&mdash;John Johnson</em>
          </small>
                </footer>
            </blockquote>
        </v-layout>
    </script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://localhost:80/socket.io/socket.io.js"></script>
    <script src="vue-socketio.min.js"></script>
    <script src="main.js"></script>



</body>

</html>